%p#notice= notice

%p
  %b Gender:
  = @questionaire.gender
%p
  %b Profession:
  = @questionaire.profession
%p
  %b Age:
  = @questionaire.age
%p
  %b City:
  = @questionaire.city
%p
  %b Graduation:
  = @questionaire.graduation
%p
  %b Year apprenticeship:
  = @questionaire.year_apprenticeship
%p
  %b First apprenticeship:
  = @questionaire.first_apprenticeship
%p
  %b Subsistence:
  = @questionaire.subsistence
%p
  %b Gross salary:
  = @questionaire.gross_salary
%p
  %b Number applications:
  = @questionaire.number_applications
%p
  %b Found apprenticeship:
  = @questionaire.found_apprenticeship
%p
  %b Internet portal:
  = @questionaire.internet_portal
%p
  %b Known portals:
  = @questionaire.known_portals
%p
  %b Different professions:
  = @questionaire.different_professions
%p
  %b Dream job:
  = @questionaire.dream_job
%p
  %b Different dream job:
  = @questionaire.different_dream_job
%p
  %b Reason apprenticeship:
  = @questionaire.reason_apprenticeship
%p
  %b Canceled apprenticeship:
  = @questionaire.canceled_apprenticeship
%p
  %b Canceled job:
  = @questionaire.canceled_job
%p
  %b Reason canceled apprenticeship:
  = @questionaire.reason_canceled_apprenticeship
%p
  %b Annoying apprenticeship:
  = @questionaire.annoying_apprenticeship
%p
  %b Organization or school:
  = @questionaire.organization_or_school
%p
  %b School like:
  = @questionaire.school_like
%p
  %b Organization like:
  = @questionaire.organization_like
%p
  %b Profession like:
  = @questionaire.profession_like

= link_to 'Edit', edit_questionaire_path(@questionaire)
\|
= link_to 'Back', questionaires_path
